[submodule "vendor/claude-system"]
	path = vendor/claude-system
	url = https://github.com/juanandresgs/claude-system
[submodule "modules-private"]
	path = microapps-private
	url = https://github.com/j-greig/wibandwob-wwdos-modules-private.git
	ignore = dirty
[submodule "ralph"]
	path = ralph
	url = https://github.com/j-greig/wibandwob-ralph
[submodule "vendor/rich"]
	path = vendor/rich
	url = https://github.com/Textualize/rich
[submodule "vendor/textual"]
	path = vendor/textual
	url = https://github.com/Textualize/textual
[submodule "vendor/pi-mono"]
	path = vendor/pi-mono
	url = https://github.com/badlogic/pi-mono
