[submodule "vendor/claude-system"]
	path = vendor/claude-system
	url = https://github.com/juanandresgs/claude-system
[submodule "modules-private"]
	path = modules-private
	url = https://github.com/j-greig/wibandwob-wwdos-modules-private.git
	ignore = dirty
[submodule "ralph"]
	path = ralph
	url = https://github.com/j-greig/wibandwob-ralph
