dos.wibandwob.com {
    tls internal

    basic_auth {
        wibwob $2a$14$PWxcZWyTT2za30FLJn1DquQHPFQeW8j6VbKbSHgcngsI3HPWU5GoK
    }

    reverse_proxy ttyd:7681

    log {
        output file /data/logs/access.log
        format json
    }
}
